
/* background-color: #13103E;

background-color: #152950; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body1{
    height: 100%;
    background: linear-gradient(to right, white 40%, #152950 40%);
}
.body2{
    height: 100%;
    background: linear-gradient(to right, white 50%, #152950 50%);
}
header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.name{
    font-family:Pacifico;
    color:#152950;
}

.navigation{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}
.navigation a:hover{
    color: #437ef5;
}
.navigation button{
    border: none;
    background-color: #437ef5;
    color: white;
    font-size: 21px;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
}
.navigation button:hover{
    opacity: 0.8;
}
.navigation button:active{
    opacity: 0.6;
}
.menu{
    display: none;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border{
    padding: 5px;
    border-radius: 250px;
    border: #152950 10px solid;
}

.content img{
    width: 300px;
    border: 5px solid #152950;
    border-radius: 400px;

}

.contacts{
    display: flex;
    flex-direction: column;
}
.contacts a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding-top: 15px;
    font-size: 21px;
}


.text{
    direction: rtl;
    color: white;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    width: 50%;
}
.text h1{
    font-size: 3em;
}
.text h2{
    font-size: 2em;
    color: #437ef5;
}
.text p{
    font-size: 1.5em;
}

.socials{
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.socials a{
    cursor: pointer;
}
.socials a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
}




@media only screen and (max-width: 900px) {
    .body1, .body2{
        background: #152950;
    }
    header{
        position: relative;
        border-bottom: #152950 solid 1px;
    }
    .menu{
        display: inline;
    }
    .navigation{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        align-items: center;
        background-color: white;
        left: 0px;
        right: 0px;
        padding-bottom: 15px;
    }
    .navigation a{
        font-size: 32px;
    }
    header{
        background-color: white;
        margin-bottom: 30px;
    }
    .navigation a{
        color: #152950;
    }
    .border{
        border: #ffffff 10px solid;
    }
    .content img{
        border: #ffffff 10px solid;
    }
    .content{
        flex-direction: column;
    }
    .text{
        text-align: center;

    }
    .text *{
        padding: 30px 0px;
    }
    .socials{
        position: static;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        gap: 20px;
    }
    
  }

  @media only screen and (max-width: 600px) {

    .content img{
        width: 200px;
    }
    .text{
        width: 80%;
    }

  }
